:root{
  --azul:#114897;
  --azuloscuro:#022453;
  --blanco:#FFFEE2;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit *                 /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:var(--blanco);
  background-image:linear-gradient(to left,#FFFEE2 , #114897);
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  font-size:12px;
  height:100vh;
  /*margin:0px;
  padding:0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen 
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  text-transform:uppercase;
  width:100%;*/
}

/* Portrait layout (default) 
.app {
  background:url(../img/) no-repeat center top; /* 170px x 200px 
  position:absolute;             /* position in the center of the screen 
  left:50%;
  top:50%;
  height:50px;                    text area height 
  width:225px;                   text area width 
  text-align:center;
  padding:180px 0px 0px 0px;      image height is 200px (bottom 20px are overlapped with text) 
  margin:-115px 0px 0px -112px;  offset vertical: half of image height and text area height 
                                 /* offset horizontal: half of text area width 

}*/

/* -----------------index---------------------*/

.login {
  padding: 20px;
  align-items: center;
}

.btn { /*------TODOS LOS BOTONES---*/
  background-color: #0064A8;
  border-color: #D5E9F6;
  text-decoration-color: #022453;
}

.logo-img {
  padding: 10px;
}

.cc-boton {
  text-decoration: none;
  color: #FFFEE2;
  
}

/*-------------crear cuenta------------*/

.info {
  padding: 20px;
  justify-content:center
}
.registro {
  padding: 20px;

}

.re-boton {
  text-decoration: none;
  color: #FFFEE2;
}

/*---------------aplicaciones------------*/

.lista {
  padding: 20px;
  
}

.list-group {
  padding: 10px 0;
  
}

.list-group-item {
  background-color: #D5E9F6;
}

.app-boton {
  text-decoration: none;
  color: #FFFEE2;
  
}

/*----------------ppantalla-------------*/

.navbar {
  background-color:  #D5E9F6;
  color: #001B3E;
}



.logo img {
  height: 60px;
}
.espacio-apps {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(5rem,5rem));
  padding: 20px;
}

.icon {

  grid-column: span 1;

  height: 60px;

  margin-top: 8px;
  vertical-align: middle;
  position: relative;
  justify-content: space-around;
  text-align: center;
}
.apps {
  max-height: 60px;
  
  padding: 10px;
}

.btn-circulo {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #2AB825;
  font-size: large;
  background-color: #0064A8;
  box-shadow: #056402;
  margin: 40px;
  float: right;
  border-color: #056402;
  
  

}

/*.--------------maps-----------*/

.modal-map{
  position:relative;
  text-align:center;
  width:100%;
  height:400px;}
.map_canvas {
  overflow:hidden;
  background:none;
  width:100%;
  height:400px;
  }
.gmap_iframe {
  height:400px;
}


